/* this CSS contains only the basic CSS needed to run the app and use it */

@import url('./contextmenu.css');
@import url('./searchbox.css');
@import url('./dialog.css');

:root {
	--node-title-height:30;
	--node-title-text-y:20;
	--node-slot-height:20;
	--node-widget-height:20;
	--node-width:140;
	--node-min-width:50;
	--node-collapsed-radius:10;
	--node-collapsed-width:80;

	--node-text-size:14;
	--node-subtext-size:12;
	--default-group-font:24;

	--node-title-color:#999;
	--node-selected-title-color:#FFF;
	--node-text-color:#AAA;
	--node-default-color:#333;
	--node-default-bgcolor:#353535;
	--node-default-boxcolor:#666;
	--node-box-outline-color:#FFF;
	--default-shadow-color:rgba(0,0,0,0.5);

	--widget-bgcolor:#222;
	--widget-outline-color:#666;
	--widget-text-color:#DDD;
	--widget-secondary-text-color:#999;

	--link-color:#9A9;
	--event-link-color:#A86;
	--connecting-link-color:#AFA;
}

.lgraphcanvas {
    /*cursor: crosshair;*/
    user-select: none;
	outline: none;
    font-family: Tahoma, sans-serif;
}

.lgraphcanvas * {
    box-sizing: border-box;
}

.litegraph .subgraph_property {
	padding: 4px;
}

.litegraph .subgraph_property:hover {
	background-color: #333;
}

.litegraph .subgraph_property.extra {
    margin-top: 8px;
}

.litegraph .subgraph_property span.name {
	font-size: 1.3em;
	padding-left: 4px;
}

.litegraph .subgraph_property span.type {
	opacity: 0.5;
	margin-right: 20px;
	padding-left: 4px;
}

.litegraph .subgraph_property span.label {
	display: inline-block;
	width: 60px;
	padding:  0px 10px;
}

.litegraph .subgraph_property input {
	width: 140px;
	color: #999;
	background-color: #1A1A1A;
	border-radius: 4px;
	border: 0;
	margin-right: 10px;
	padding: 4px;
	padding-left: 10px;
}

.litegraph .subgraph_property button {
	background-color: #1c1c1c;
	color: #aaa;
	border: 0;
	border-radius: 2px;
	padding: 4px 10px;
	cursor: pointer;
}

.litegraph .subgraph_property.extra {
	color: #ccc;
}

.litegraph .subgraph_property.extra input {
	background-color: #111;
}

.litegraph .bullet_icon {
	margin-left: 10px;
	border-radius: 10px;
	width: 12px;
	height: 12px;
	background-color: #666;
	display: inline-block;
	margin-top: 2px;
	margin-right: 4px;
    transition: background-color 0.1s ease 0s;
}

.litegraph .bullet_icon:hover {
	background-color: #698;
	cursor: pointer;
} 

